<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lectures</title>
    <link rel="stylesheet" href="../static/news.css">
</head>
<body>
    <header>
        <div id="nav">
            <a href="{{ url_for ('index') }}">Home</a>
            <a href="{{ url_for ('courseteam') }}">Course Team</a>
            <a href="{{ url_for ('calendar') }}">Calendar</a>
            <a href="{{ url_for ('news') }}">New News</a>
            <a href="https://piazza.com" target="_blank">Discussion Board</a>
            {% if session['type'] == 'Student' %}
            <a href="{{ url_for ('student_grades') }} ">Grades</a>
            <a href="{{ url_for ('anonfeedback') }}">Anon Feedback</a>
            {% endif %}
            {% if session['type'] == 'Teacher' %}
            <a href="{{ url_for ('teacher_grades') }} ">Grades</a>
            <a href="{{ url_for ('teacher_feedback') }} ">Feedback</a>
            {% endif %}
            <a href="{{ url_for ('lectures') }}">Lectures</a>
            <a href="{{ url_for ('labs') }}">Labs</a>
            <a href="{{ url_for ('assignments') }}">Assignments</a>
            <a href="{{ url_for ('tests') }}">Tests</a>
            <a href="{{ url_for ('resources') }}">Resources</a>
            <a href="{{ url_for ('logout') }} ">Logout</a>
            </div>
    </header>
    <div id="page-title">
        <h1>Announcements</h1>
    </div>
    <div>
    <h2>Jan. 2 </h2>
    <hr>
    <p> Welcome to CSCB20. Please note that tutorials will begin in week 2. </p>
    </div>
    <footer>
        <div id="footer-container">
            <div id="footer-element"><p>&copy</p></div>
            <div id="footer-element"><a href="https://web.cs.toronto.edu/people/faculty-directory" target="_blank">CS Faculty Link</a></div>
            <div><p>Designed by Lukas and Youngjae</p></div>
        </div>
    </footer>
</body>
</html>