<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lectures</title>
    <link rel="stylesheet" href="../static/tests.css">
</head>
<body>
    <header>
        <div id="nav">
            <a href="{{ url_for ('index') }}">Home</a>
            <a href="{{ url_for ('courseteam') }}">Course Team</a>
            <a href="{{ url_for ('calendar') }}">Calendar</a>
            <a href="{{ url_for ('news') }}">New News</a>
            <a href="https://piazza.com" target="_blank">Discussion Board</a>
            {% if session['type'] == 'Student' %}
            <a href="{{ url_for ('student_grades') }} ">Grades</a>
            <a href="{{ url_for ('anonfeedback') }}">Anon Feedback</a>
            {% endif %}
            {% if session['type'] == 'Teacher' %}
            <a href="{{ url_for ('teacher_grades') }} ">Grades</a>
            <a href="{{ url_for ('teacher_feedback') }} ">Feedback</a>
            {% endif %}
            <a href="{{ url_for ('lectures') }}">Lectures</a>
            <a href="{{ url_for ('labs') }}">Labs</a>
            <a href="{{ url_for ('assignments') }}">Assignments</a>
            <a href="{{ url_for ('tests') }}">Tests</a>
            <a href="{{ url_for ('resources') }}">Resources</a>
            <a href="{{ url_for ('logout') }} ">Logout</a>
            </div>
    </header>
    <div id="page-title">
        <h1>Tests</h1>
    </div>
    <div>
        <h2>Midterm</h2>
        <hr>
        <p>There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here.</p>
        <div class="table-container">
            <div class="table">
                <div class="table-row">
                    <div class="table-header-entry-medium"><b>Course</b></div>
                    <div class="table-header-entry-medium"><b>Date</b></div>
                    <div class="table-header-entry-short"><b>#</b></div>
                    <div class="table-header-entry-short"><b>Capacity</b></div>
                    <div class="table-header-entry-medium"><b>Room #</b></div>
                    <div class="table-header-entry-medium"><b>Last Name</b></div>
                    <div class="table-header-entry-medium"><b># of Students</b></div>
                </div>
                <div class="table-row">
                    <div class="table-entry-medium">CSCB20</div>
                    <div class="table-entry-medium">Monday 13 February</div>
                    <div class="table-entry-short">1</div>
                    <div class="table-entry-short">50</b></div>
                    <div class="table-entry-medium">HW 215</div>
                    <div class="table-entry-medium">A-HE</div>
                    <div class="table-entry-medium">48</div>
                </div>
                <div class="table-row">
                    <div class="table-entry-medium">A.Bretscher</div>
                    <div class="table-entry-medium">@5:00 PM</div>
                    <div class="table-entry-short">2</div>
                    <div class="table-entry-short">110</div>
                    <div class="table-entry-medium">HW 216</div>
                    <div class="table-entry-medium">HO-Z</div>
                    <div class="table-entry-medium">108</div>
                </div>
                <div class="table-row">
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-short"></div>
                    <div class="table-entry-short"></div>
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-medium"></div>
                </div>
                <div class="table-row">
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-short"></div>
                    <div class="table-entry-short">160</div>
                    <div class="table-entry-medium"></div>
                    <div class="table-entry-medium"><b>Total</b></div>
                    <div class="table-entry-medium"><b>156</b></div>
                </div>
            </div>
        </div>
        <p>Preparing for the midterm term:</p>
        <ul>
            <li> Understand all parts of A1.</li>
            <li> The midterm will cover everything on databases that we did from the start until part way through the week 6 lectures.html
        </ul>
        <p>Once you have done some preparation, you can practice on a previous midterm: <a href="blank.pdf">Term Test</a></p>
    </div>
    <footer>
        <div id="footer-container">
            <div id="footer-element"><p>&copy</p></div>
            <div id="footer-element"><a href="https://web.cs.toronto.edu/people/faculty-directory" target="_blank">CS Faculty Link</a></div>
            <div><p>Designed by Lukas and Youngjae</p></div>
        </div>
    </footer>
</body>
</html>